name: Build
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch: # nothing here
jobs:
  build-linux:
    strategy:
      matrix:
        build_type: [ Debug, Release ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Install Qt
        uses: jurplel/install-qt-action@v2
        with:
          version: 5.15.2
          host: linux
          target: desktop
          dir: '${{github.workspace}}/libs/Qt'

      - name: Install Steamworks
        run: git clone https://Trico-Everfire:${{secrets.STEAMWORKS_TOKEN}}@github.com/Trico-Everfire/steamworks.git "${{github.workspace}}/libs/Steam-Workshop-API/sdk"

#      - name: Copy Steamworks .so
#        run: |
#          cp "${{github.workspace}}/libs/Steam-Workshop-API/sdk/steamworks/redistributable_bin/linux64/libsteam_api.so" "${{github.workspace}}/libs/Steam-Workshop-API/sdk/redistributable_bin/linux64/libsteam_api.so"

#      - name: setup build folder
#        run: |
#          mkdir "${{github.workspace}}/build"

      - name: Copy QT Network .so
        run: | 
          cp "${{env.Qt5_DIR}}/lib/libQt5Network.so.5.15.2" "${{github.workspace}}/libs/Qt/libQt5Network.so.5.15.2"
#          cp "${{env.Qt5_DIR}}/lib/libQt5Network.so.5" "${{github.workspace}}/build/libQt5Network.so.5"


      - name: Copy QT Widgets .so
        run: |
          cp "${{env.Qt5_DIR}}/lib/libQt5Widgets.so.5.15.2" "${{github.workspace}}/libs/Qt/libQt5Widgets.so.5.15.2"
#          cp "${{env.Qt5_DIR}}/lib/libQt5Widgets.so.5" "${{github.workspace}}/build/libQt5Widgets.so.5"

      - name: Copy QT Gui .so
        run: |
          cp "${{env.Qt5_DIR}}/lib/libQt5Gui.so.5.15.2" "${{github.workspace}}/libs/Qt/libQt5Gui.so.5.15.2"
#          cp "${{env.Qt5_DIR}}/lib/libQt5Gui.so.5" "${{github.workspace}}/build/libQt5Gui.so.5"


      - name: Copy QT Core .so
        run: |
          cp "${{env.Qt5_DIR}}/lib/libQt5Core.so.5.15.2" "${{github.workspace}}/libs/Qt/libQt5Core.so.5.15.2"
#          cp "${{env.Qt5_DIR}}/lib/libQt5Core.so.5" "${{github.workspace}}/build/libQt5Core.so.5"


      - name: Configure CMake
        run: cmake -G "Unix Makefiles" -B build -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DQT_BASEDIR='${{github.workspace}}/libs/Qt/Qt/5.15.2/gcc_64'

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{matrix.build_type}}

      - name: Create Symlinks
        run: |
          ln -s "${{github.workspace}}/build/libQt5Core.so.5" "${{github.workspace}}/build/libQt5Core.so.5" |
          ln -s "${{github.workspace}}/build/libQt5Gui.so.5" "${{github.workspace}}/build/libQt5Gui.so.5" |
          ln -s "${{github.workspace}}/build/libQt5Widgets.so.5" "${{github.workspace}}/build/libQt5Widgets.so.5" |
          ln -s "${{github.workspace}}/build/libQt5Network.so.5" "${{github.workspace}}/libs/Qt/libQt5Network.so.5.15.2"

      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: p2-publishing-tool-linux-${{matrix.build_type}}
          path: |
            ${{github.workspace}}/build/p2_map_publisher
            ${{github.workspace}}/build/Credits.txt
            ${{github.workspace}}/build/*.s*

  build-msvc:
    strategy:
      matrix:
        build_type: [Debug, Release]
    runs-on: windows-2019
    defaults:
      run:
        shell: cmd
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        
      - name: Install Qt5
        uses: jurplel/install-qt-action@v2.14.0
        with:
          dir: '${{github.workspace}}/libs/Qt'
          version: 5.15.2
          arch: win64_msvc2019_64

      - name: Install Steamworks
        run: git clone https://Trico-Everfire:${{secrets.STEAMWORKS_TOKEN}}@github.com/Trico-Everfire/steamworks.git "${{github.workspace}}\libs\Steam-Workshop-API\sdk"

      - name: Set up MSVC
        uses: ilammy/msvc-dev-cmd@v1

      - name: Configure CMake
        run: cmake -G "Ninja" -B build -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DQT_BASEDIR='${{github.workspace}}/libs/Qt/Qt/5.15.2/msvc2019_64'

      - name: Build
        run: cmake --build build --config ${{matrix.build_type}}

      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: p2-publishing-tool-windows-${{matrix.build_type}}
          path: |
            ${{github.workspace}}\build\p2_map_publisher.exe
            ${{github.workspace}}\build\*.dll
            ${{github.workspace}}\build\platforms\*.dll
            ${{github.workspace}}\build\Credits.txt
